header{
    height: 100vh;
    padding-top: 7rem;
    overflow: hidden;
}
.header__container{
    text-align: center;
    height: 100%;
    position: relative;
}

/*==============CTA+=========*/
  .cta{
        margin-top: 2.5rem;
        display: flex;
        gap: 1.2rem;
        justify-content: center;
    }
/*==============Header=========*/
.header_social{
             display: flex;
             flex-direction: column;
             align-items: center;
             gap: 0.8rem;
             position: absolute;
             left: 0;
             bottom: 3rem ;
}
.header_social::after{
    content: '';
    width: 1px;
    height: 2rem;
    background-color: var(--color-primary);
}
/*============ME*/
.me{  
      background: linear-gradient(var(--color-primary),transparent);
      width: 35rem;
      position: relative;
      margin-top: 4rem;
      left: calc(50% - 18rem);
      border-radius: 50rem 50rem 0 0;
      overflow: hidden;
      padding: 1.5rem 1.5rem 1.5rem 1.5rem;
}
/* scroll*/
@media screen and (min-width:50px) {
      header{
        height:150vh;
      }
    
}
@media screen and (max-width:600px) {
    header{
      height:150vh;
    }
  .header_social{
    display: none;
  }
}